@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 900;
    src: url('../font/Vazir-Bold.woff') format('woff');
}
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: 400;
    src: url('../font/Vazir.woff format') format('woff');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Vazir;
}
body{
    font-family: Vazir;
    background-color: #e5e7eb;
}
nav , footer{
    display: grid;
    width: 100%;
    height: 120px;
    background-color: rgb(255, 245, 245);
}
.logo-img{
    justify-self: center;
    align-self: center;
    width: 110px;
    height: 110px;
}
main{
    display: block;
    width: 96%;
    height: auto;
    margin: 0 auto;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(255, 245, 245);
}
main .title-page{
    padding: 20px 0;
    border-bottom: 2px solid rgb(34, 197, 94);
}
main i{
    margin: 10px;
}
main h2{
    padding: 5px 7px;
}
main p{
    font-weight: 400;
    text-align: justify;
    color: rgb(20, 20, 20);
}
main h3{
    font-weight: 800;
    color: #424242;
}

img{
    border-radius: 10px;
}

.img-box{
    display: block;
    width: 96%;
    height: 250px;
    margin: 10px auto;
}

.boldTitle{
    font-weight: 900;
}

.startMovie{
    display: grid;
    margin-top: 10px;
    justify-content: center;
}